<div class="row d-flex justify-content-center m-5">
  <div class="col-md-10">
    <h3>Thêm sản phẩm</h3>
    <form method="POST" action="/products/add">
      <div class="form-group">
        <label for="name">Product Name</label>
        <input type="text" class="form-control" id="name" name="name" />
      </div>
      <div class="form-group">
        <label for="image">Product Image</label>
        <input type="text" class="form-control" id="image" name="image" />
      </div>
      <div class="form-group">
        <label for="price">Product Price</label>
        <input type="text" class="form-control" id="price" name="price" />
      </div>
      <div class="form-group">
        <label for="desc">Product Description</label>
        <textarea
          class="form-control"
          id="desc"
          name="desc"
          rows="3"
        ></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Thêm sản phẩm</button>
    </form>
  </div>
</div>